# Sed rules for configuring trove.

# Hostnames

## This is the hostname for the Trove instance itself
s/##TROVE_HOSTNAME##/trove-host/

## This is the hostname for the Mason which Trove is linking to
s/##MASON_HOST##/mason-host/

# Ports in use

## This is the port for Mason.  Normally it'll be 18755
s/##MASON_PORT##/18755/

# Configuration for the CGit instance and Gitano setup

## The title for this trove.  '##TROVE_TITLE## Git Repositories' in
## the CGit root page.  Also '##TROVE_TITLE## for ##TROVE_COMPANY##' in
## the Gitano site description field
s/##TROVE_TITLE##/FooCorp Embedded Projects/
s/##TROVE_COMPANY##/FooCorp International Plc/

## The prefix used for personal repositories.  Default is 'people'
## Note, since this is ESC_ it should be lua-pattern escaped.
s/##ESC_PERSONAL_PREFIX##/people/

## The prefix used for branches and repositories for this Trove
s/##PREFIX##/trove-prefix/
## The same prefix as above, only lua-pattern-escaped
s/##ESC_PREFIX##/trove%-prefix/

