[Unit]
Description=Drop lorry-controller from lorry's crontab
After=basic.target
ConditionPathExists=!/etc/lorry-controller/lorry-controller-removed-from-crontab

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/libexec/remove-lorry-controller-from-lorry-crontab
ExecStartPost=/bin/touch /etc/lorry-controller/lorry-controller-removed-from-crontab
User=lorry
Group=lorry
PermissionsStartOnly=true
