[Unit]
Description=Lighttpd Web Server
After=network.target

[Service]
ExecStart=/usr/sbin/lighttpd -f /etc/lighttpd/git-httpd.conf -D
Restart=always
