[Unit]
Description=Morph cache server (write interface)
After=network.target

[Service]
ExecStart=/bin/su -c '/usr/bin/morph-cache-server --config=/etc/morph-cache-server-write.conf' - cache
