[Unit]
Description=Create the ##PREFIX##/site/releases repository
ConditionPathExists=!/home/git/repos/##PREFIX##/site/releases.git
Requires=network.target
After=network.target
Requires=opensshd.service
After=opensshd.service
Requires=trove-early-setup.service
After=trove-early-setup.service

[Service]
User=git
ExecStart=/usr/share/trove-setup/releases-repo-migration.sh
Restart=no
